name: tf_renovate_auto_merge
run-name: ${{ github.workflow }} by @${{ github.actor }}

on:
  pull_request:
    branches:
      - renovate/*
    paths:
      - '**'
    types: [opened, synchronize]
  workflow_dispatch:

env:
  AWS_REGION: ap-northeast-1

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    name: terraform_ci
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        directory: [common, stats/stg, lambda]
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5
        with:
          aws-region: ${{env.AWS_REGION}}
          role-to-assume: ${{ env.AWS_ACTIONS_ROLE }}
          role-session-name: GithubActions_AssumeRole
        env:
          AWS_ACTIONS_ROLE: ${{ secrets.AWS_ASSUME_ROLE }}

      - name: Get Terraform version
        id: get_tf_version
        run: |
          TF_VERSION=$(cat .terraform-version)
          echo TF_VERSION=$TF_VERSION >> $GITHUB_OUTPUT
            
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ${{ steps.get_tf_version.outputs.TF_VERSION }}

      - name: Init
        id: init
        run: |
          terraform init
